// Fontes
$mainFont: 'Roboto', sans-serif;

// Cores
$bodyColor: #f5f6fa;
$headerColor: #182C61;
$textColor: #fff;
$productColor: #44bd32;
$buttonHover: #4cd137;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;